* {

    padding: 0;

    margin: 0;

    box-sizing: border-box;

}



html {

    /* font-size: 10px; */

    font-size: 62.5%;

}



body {

    font-family: "rubik", sans-serif;

    line-height: 1;

    font-weight: 400;

    /* color: #555; */

    height: 100vh;

    width: 100vw;

}



.title-container {

    /* display: flex;
  
    align-items: center; */

    padding: 6.4rem;

    height: 25%;

    width: 100%;

    background-color: #ffb997;

    border-radius: 0 0 2rem 2rem;

    position: relative;

    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.229);

    z-index: 10;

    overflow: hidden;

}



.title {

    display: flex;

    align-items: center;

    font-size: 4.4rem;

}



.menu-button {

    cursor: pointer;

    text-decoration: none;

    color: black;

}



.menu-icon {

    font-size: 5rem;

    position: absolute;

    left: 50%;

    top: 75%;

    transform: translate(-50%);

}



.credit-container {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    height: 50%;

    width: 100%;

    background-color: #f67e7d;

    z-index: 7;

}



.credits {

    font-size: 3.6rem;

    margin-bottom: 3.2rem;

}



.credit-box {

    display: flex;

    justify-content: center;

    align-items: center;

    height: 12.8rem;

    width: 12.8rem;

    background-color: #fff;

    border-radius: 50%;

    border: 2px solid black;

}



.credit-num {

    font-size: 3.6rem;

}



.order-container {

    padding: 4.8rem;

    display: flex;

    justify-content: center;

    align-items: flex-end;

    height: 25%;

    width: 100%;

    border-radius: 2rem 2rem 0 0;

    background-color: #74546a;

    z-index: 8;

    /* overflow: hidden; */

    position: relative;

    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.229);

}



.btn {

    text-decoration: none;

    border: none;

    cursor: pointer;

    border-radius: 50%;

    background-color: #fff;

}



.btn::before {

    content: "";

    display: block;

    border-radius: 50%;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    width: 120%;

    padding-bottom: 120%;

    background-color: #74546a;

    z-index: -1;

    /* box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.229); */

}



.btn--left {

    position: absolute;

    top: -2.5rem;

    left: 25%;

    height: 6.4rem;

    width: 6.4rem;

    font-size: 3.6rem;

}



.order-num {

    position: absolute;

    top: -4.5rem;

    right: 38.5%;

    /* transform: translate(50%); */

    height: 9.6rem;

    width: 9.6rem;

    font-size: 5.2rem;

    background-color: #fff;

    cursor: pointer;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

}



.order-num::before {

    content: "";

    display: block;

    border-radius: 50%;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    width: 120%;

    padding-bottom: 120%;

    background-color: #74546a;

    z-index: -1;

    /* box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.229); */

}



.btn--right {

    position: absolute;

    top: -2.5rem;

    right: 25%;

    height: 6.4rem;

    width: 6.4rem;

    font-size: 3.6rem;

}



.order-btn {

    text-decoration: none;

    border: none;

    cursor: pointer;

    font-size: 3.6rem;

    padding: 1.2rem 2.4rem;

    border-radius: 1rem;

    background-color: #c7bbc3;

}